LIST OF MOVIES

<table>
	
	<tr>
		<td>Title</td>
		<td>Year</td>
		<td>show</td>
		<td>destroy</td>
	</tr>

<% @movies.each do |movie| %>

	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.year %></td>
		<td><%= link_to 'show', movie_path(movie) %></td>
		<td><%= link_to 'destroy', movie_path(movie), method: :delete %></td>
	</tr>

<% end %>


</table> 
<br>
<%= link_to 'Add a movie', new_movie_path %>


